<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<flutterwavepayment>
				<debug>1</debug>
				<active>0</active>
				<integration_type>inline</integration_type>
				<model>Flutterwave\Payments\Model\Payment\Flutterwave</model>
				<order_status>pending</order_status>
				<title>Flutterwave for Business</title>
				<allowspecific>0</allowspecific>
				<group>Offline</group>
			</flutterwavepayment>
		</payment>
		<csp>
			<mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
		</csp
	</default>
</config>